/*教育行业解决方案 start*/
#ypContent{
    background: #fff;
    h1,h2,h3{
        font-weight: 400;
    }
    section{
        min-width: 1300px;
    }
}
.hide{
    display: none;
}
.mlf40{
    margin-left: -40px;
}
.pdb20{
    padding-bottom: 20px;
}
.pdb40{
    padding-bottom: 40px;
}
.pl65{
    padding-left: 65px;
}
.bgImage-header{
    position:relative;
    min-height: 500px;
}
.bg-1{
    min-height: 500px;
}
.education-consultation{
    display: inline-block;
    position: absolute;
    left: 45.8%;
    top: 82%;
    width: 8.5%;
    height: 8%;
    background: #e4bd55 url('//img10.360buyimg.com/wympay/jfs/t3421/16/275611937/4450/a4760c1a/580489adN78b0c05b.jpg') no-repeat center top;
}
.apply-container{
    padding-top:70px;
    background: #fff;
}
.apply-title{
    margin-top:30px;
    border-bottom:1px solid #f7f7f7;
    text-align:center;
}
.apply-title>div:first-child{
    display: inline-block;
    padding: 20px 30px;
    cursor:pointer;
}
.apply-title>div{
    display: inline-block;
    padding: 20px 30px;
    margin-left: 50px;
    cursor:pointer;
}
.p-line{
    border-bottom:2px solid #e4bd55;
}

.apply-content{
    width:767px;
    margin-top:70px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 70px;
}

.industry{
    background: #fff;
    padding: 70px 0 0 0;
}

.coperation,
.customers{
    background: #f7f7f7;
    padding: 70px 0 0 0;
}

.application-container{
    padding-top:130px;
    min-width: 1200px;
    padding-bottom: 10px;
    background: #fff url('//img14.360buyimg.com/wympay/jfs/t3130/55/4046044024/8559/af158e34/580070ffNcc525bca.jpg') no-repeat center top;
}

.industry-container{
    min-width: 1200px;
    padding-bottom: 10px;
    background: #fff;
}

.industry-title{
    width:100%;
    text-align: center;
    h2{
        font-size: 32px;
        color: #222;
    }
}

.industry-content{
    width:1200px;
    margin:0 auto;
    padding-bottom: 50px;
    position:relative;
    text-align: center;
    font-size: 18px;
    .font-content{
        position: absolute;
        left: 28%;
        top: 32%;
        color: #eee;
        font-size: 16px;
        width: 840px;
        text-align: left;
    }
    .intro{
        margin: 0 auto;
        padding: 30px 0;
        line-height: 30px;
        color: #666;
    }
}
.coperation-container{
    padding-top:30px;
    min-width: 1200px;
    padding-bottom: 10px;
    background: #f7f7f7;
}
.customers-container{
    min-width: 1200px;
    background: #f7f7f7;
}
/*教育行业解决方案 en*/

/*金融解决方案 start*/
.finance-title{
    color: #fff;
    position: absolute;
    text-align: center;
    top: 32%;
    width: 100%;
    h1{
        font-size: 48px;
        font-weight: 400;
    }
    p{
        font-size:18px;
    }
    .para{
        margin-top:2.5%;
    }
}
.finan-content{
    margin:60px auto;
    text-align: center;
}
.finan-content>div{
    margin:0 auto;
    padding-bottom: 100px;
}
.mall-content{
    width:702px;
    height:550px;
}
.app-content{
    width:623px;
    height:551px;
}
.spec-content{
    width:885px;
    height:597px;
}
.consumer-content{
    width:761px;
    height:525px;
}
.security-content{
    width:1205px;
    height:453px;
}
/*金融解决方案 end*/

/*餐饮商超行业解决方案 start*/
.scan-content{
    width: 702px;
    height:512px;
    margin-left: 30px;
}
.marketing-content{
    width:962px;
    height:514px;
}
/*餐饮商超行业解决方案 end*/

/*快消品行业解决方案 start*/
#fastGoodInd{
    text-align: center;
    img{
        width:1008px;
    }
}
.application-content{
    width:100%;
    margin-top: 75px;
    margin-bottom: 75px;
}
.tool-content{
    width: 856px;
    height:573px;
    margin:0 auto;
}
.corporate-content{
    width:1058px;
    height:460px;
    margin:0 auto;
}
/*快消品行业解决方案 end*/

.payroll-content{
    width:776px;
    height:571px;
    margin:0 auto;
    padding:70px 0;
}
.sub-intro{
    color:#999;
}
