.section {
  padding: 40px 0;
  @include clearfix();

  .section-title {
    margin-bottom: 40px;
    height: 60px;
    text-align: center;
    line-height: 60px;

    > img {
      width: auto;
    }
  }

  .row {
    @include clearfix();

    > .item {
      position: relative;
      float: left;
      margin-right: 20px;
      overflow: hidden;

      &.last-item {
        margin-right: 0;
      }

      .overlay {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include box-sizing();
        background-image: url("../img/opacity.png");
        color: #fff;
        z-index: 1;

        .title{
          position: relative;
          margin-bottom: 20px;
          text-align: center;
          line-height: 40px;
          font-size: 36px;
          font-weight: 400;

          &:after{
            position: absolute;
            left: 50%;
            bottom: -60px;
            margin-left: -20px;
            width: 40px;
            height: 1px;
            background: #fff;
            content: '';
          }
        }

        .desc{
          display: none;
          line-height: 26px;
          font-size: 14px;
          animation: easeIn 0.5s linear;
        }

        .case{
          display: none;
          position: relative;
          padding: 15px 10px 10px 10px;
          height: 50px;
          @include border-right(rgba(255, 255, 255, 0.2));
          @include border-bottom(rgba(255, 255, 255, 0.2));
          @include border-left(rgba(255, 255, 255, 0.2));
          border-right: 1px solid #fff \9;
          border-bottom: 1px solid #fff \9;
          border-left: 1px solid #fff \9;
          text-align: center;
          animation: easeIn 0.5s linear;

          &:before{
            position: absolute;
            top: 0;
            left: 0;
            width: 96px;
            height: 1px;
            background: rgba(255, 255, 255, 0.2);
            background: #fff\9;
            content: '';
          }

          &:after{
            position: absolute;
            top: 0;
            right: 0;
            width: 96px;
            height: 1px;
            background: rgba(255, 255, 255, 0.2);
            background: #fff\9;
            content: '';
          }

          > em {
            position: absolute;
            top: -9px;
            left: 50%;
            margin-left: -34px;
            width: 68px;
            height: 19px;
            text-align: center;
            line-height: 19px;
          }

          .item{
            display: inline-block;
            margin: 0 auto;
            padding: 0 5px;
            width: 50px;
            height: 50px;
          }

          .swiper-wrapper{
            margin: 0 auto;
          }
        }

        &:hover{

          .title:after{
            display: none;
          }

          .desc{
            display: block;
            margin-bottom: 55px;
          }

          .case{
            display: block;
          }
        }
      }
    }

    &.trisector {
      margin-bottom: 20px;

      > .item {
        width: 320px;
        height: 400px;

        .overlay {
          padding: 145px 30px 0 30px;

          &:hover {
            padding: 30px 30px 0 30px;
          }
        }

      }
    }

    &.equational {
      > .item {
        width: 490px;
        height: 280px;
      }

      .overlay {
        padding: 100px 30px 0 30px;

        &:hover {
          padding: 20px 30px 0 20px;

          .title{
            margin-bottom: 10px;


          }

          .desc{
            margin-bottom: 20px;
          }
        }

        .case{

          &:before{
            width: 175px;
          }

          &:after{
            width: 175px;
          }

          > em {
            position: absolute;
            top: -9px;
            left: 50%;
            margin-left: -34px;
            width: 68px;
            height: 19px;
            text-align: center;
            line-height: 19px;
          }

          .item{
            display: inline-block;
            margin: 0 auto;
            padding: 0 5px;
            width: 50px;
            height: 50px;
          }

          .swiper-wrapper{
            margin: 0 auto;
          }
        }
      }
    }
  }

  .product-list {
    height: 380px;
    background: #fff;
    @include flex();
    @include clearfix();

    .item {
      position: relative;
      float: left;
      width: 25%;
      height: 100%;
      @include flex-item(1);
      @include box-sizing();

      &.border-r {
        @include border-right($cgray);
      }
    }

    .wrap{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 40px 26px 0 26px;
      @include box-sizing();
      background: #fff;
      //transition: width 0.5s, height 0.5s, padding 0.5s, margin-top 0.5s, margin-left 0.5s;

      .icon {
        position: relative;
        margin: 0 auto 40px auto;
        width: 100px;
        height: 100px;
        background-image: url("../img/product-icon.png");

        &.payment {
          background-position: top left;
        }

        &.shop {
          background-position: top right;
        }

        &.finance {
          background-position: bottom left;
        }

        &.abs {
          background-position: bottom right;
        }

        &:after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: url("../img/product-icon.png");
          background-position: center;
          content: '';
        }
      }

      h6 {
          margin-bottom: 15px;
          text-align: center;
          line-height: 16px;
          font-size: 20px;
          font-weight: 700;
        }

      .desc {
        margin-bottom: 30px;
        height: 72px;
        line-height: 26px;
        font-size: 14px;
      }

      a {
          display: block;
          margin: 0 auto;
          width: 118px;
          height: 34px;
          border: 2px solid #d1c1a3;
          text-align: center;
          line-height: 34px;
          font-weight: 700;
          font-size: 15px;
          color: #d1c1a3;
        }

      &:hover {
          top: 0;
          left: 0;
          width: 270px;
          height: 430px;
          margin-top: -25px;
          margin-left: -5px;
          padding: 40px 30px 0 30px;
          @include border($cgray);
          @include box-shadow(1px, 1px, 3px, 3px, rgba(0, 0, 0, 0.2));
          z-index: 1;

          .icon:after {
            animation: rotate 6s infinite linear;
          }

          h6 {
            color: #dba234;
          }

          .desc {
            margin-bottom: 52px;
          }

          a {
            background: #dba234;
            border: 2px solid #dba234;
            color: #000;
          }
        }
    }
  }

  &.advantage {
    background: #212121;
  }
}

.advantage{

  .main-pic{
    float: left;
    width: 518px;
    height: 512px;
  }

  .item-list{
    float: left;
    width: 241px;
    height: 512px;

    > .item{
      position: relative;
      padding: 70px 60px;
      background: #fff;

      > .title{
        margin-bottom: 10px;
        text-align: center;
        line-height: 28px;
        font-weight: 600;
        font-size: 19px;

        > em{
          display: inline-block;
          padding: 0 5px;
          color: #dba234;
        }
      }

      .desc{
        line-height: 26px;
        font-size: 14px;
      }

      .detail{
        display: none;
        position: absolute;
        width: 518px;
        height: 512px;
        background: rgba(0, 0, 0, 0.8);
        background: url("../img/opacity-8.png")\9;
        animation: easeIn 0.5s linear;
        color: #fff;
        z-index: 1;

        > p{
          padding: 205px 60px 0 60px;
          line-height: 26px;
        }
      }

      &:after{
        display: none;
        position: absolute;
        top: 50%;
        margin-top: -8px;
        width: 8px;
        height: 16px;
        background-image: url("../img/arrow.png");
        content: '';
        z-index: 3;
      }

      &.border{
        margin-top: -1px;
        @include border-top($cgray);
      }

      &.open:hover{
        .detail{
          top: 0;
          left: 100%;
        }

        &:after{
          display: block;
          right: -8px;
          background-position: top right;
        }
      }
      &.safety:hover{
        .detail{
          top: -100%;
          left: 100%;
        }

        &:after{
          display: block;
          right: -8px;
          background-position: top right;
        }
      }
      &.compliance:hover{
        .detail{
          top: 0;
          left: -518px;
        }

        &:after{
          display: block;
          left: -8px;
          background-position: top left;
        }
      }
      &.risk-management:hover{
        .detail{
          top: -100%;
          left: -518px;
        }

        &:after{
          display: block;
          left: -8px;
          background-position: top left;
        }
      }

      &:hover{
        background: #404040;

        > .title{
          padding-top: 10px;
          padding-bottom: 35px;
          line-height: 60px;

          > em{
            border-bottom: 1px solid #dba234;
          }
        }

        .desc{
          display: none;
        }

        .detail{
          display: block;
        }
      }

      &.default{
        background: #404040;

        > .title{
          padding-top: 10px;
          padding-bottom: 35px;
          line-height: 60px;

          > em{
            border-bottom: 1px solid #dba234;
          }
        }

        .desc{
          display: none;
        }

        .detail{
          display: block;
          top: 0;
          left: 100%;
        }

        &:after{
          display: block;
          right: -8px;
          background-position: top right;
        }
      }
    }
  }
}

.footer-hd{
  display: block !important;
}

@media screen and (min-width: 1279px) {
  .section {
    .row {

      > .item{
        margin-right: 30px;
      }

      &.trisector {
        margin-bottom: 30px;

        > .item {
          width: 380px;
          height: 460px;

          .overlay {
            padding: 153px 50px 0 50px;

            &:hover {
              padding: 50px 50px 0 50px;

              .desc{
                margin-bottom: 80px;
                min-height: 112px;
              }
            }
          }
        }
      }

      &.equational {
        > .item {
          width: 585px;
          height: 300px;

          .overlay {
            padding: 105px 45px 0 45px;

            &:hover {
              padding: 45px 45px 0 45px;

              .desc{
                margin-bottom: 25px;
              }
            }

            .case:after, .case:before{
              width: 200px !important;
            }
          }
        }
      }
    }

    .product-list {
      height: 430px;

      .wrap{
        padding: 60px 40px 0;

        &:hover {
          top: 0;
          left: 0;
          width: 320px;
          height: 480px;
          padding: 70px 50px 0;

          .desc {
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  .advantage{

    .main-pic{
      width: 718px;
      background-position: center;
      background-repeat: no-repeat;
    }

    .item-list{
      > .item {

        .detail{
          width: 718px;
        }

        &.compliance:hover{
          .detail{
            left: -718px;
          }
        }
        &.risk-management:hover{
          .detail{
            left: -718px;
          }
        }
      }
    }

  }
}