/**
 * 详情页面的样式文件
 */
@import "yp.scss";
h1,h2, h3{
  font-weight: normal;
}

body{
  overflow-x:hidden;
}
.hide, .hidden{
  display: none;
}
.content-1200{
  width: 1200px;
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
// detail
.detail-header{
  border-top:1px solid transparent;
  height: 500px;
  background: url('//img14.360buyimg.com/wympay/jfs/t3295/62/3836922353/123809/9786de40/57f9edf2N952ec97e.jpg') no-repeat center center;
  color: #fff;
  font-size: 14px;
  h1{
    font-size: 48px;
    margin-top: 140px;

  }
  p.sub_desc{
    font-size: 18px;
    margin: 20px auto 25px;
    width: 600px;
  }

  .open-btn{
    display: block;
    margin:30px auto;
    width: 130px;
    height: 30px;
    line-height: 32px;
    background: #e4bd55;
    text-align: center;
    color:#222222;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    &:hover{
      background: #997514;
      color: #fff;
    }
  }

}
.icon-star{
  font-style: normal;
  @include iconafter('\e609');
  &.active{
    color:#ffce4b;
  }
}
.detail-intro{
  background: #fff;
  padding-top: 70px;
  font-size: 18px;
  h2{
    font-size: 32px;
    color: #222;
  }
  .sub-intro{
    color: #999;
  }
  .intro{
    margin: 0 auto;
    line-height: 30px;
    color: #666;
    text-align: left;
    width: 1200px;
    padding: 30px 200px;
    box-sizing: border-box;
    img{
      width: 100%;
    }
    p{
      text-indent: 30px;
      margin-bottom: 8px;
    }
  }
}

.detail-adv{
  font-size: 18px;
  padding-top: 70px;
  background: #f5f5f5;
  h2{
    font-size: 32px;
    color: #222;
  }
  .sub-intro{
    color: #999;
  }

  .adv-imgs{
    padding: 40px 0;
    margin-left: -20px;
    @include clearfix();
    .adv-item{
      width:590px;
      height:260px;
      position: relative;
      text-align: center;
      color: #fff;
      float: left;
      background:url('//img13.360buyimg.com/wympay/jfs/t3307/220/4064883877/56934/8f837997/57fdeac3Nc2640016.jpg') no-repeat center center;
      margin-left:20px;
      margin-bottom:20px;

      h2{
        padding-top:80px;
        color: #fff;
        font-size:30px;
        line-height:30px;
      }
      p{
        padding: 20px 50px 0;
      }

    }

  }
}
.detail-cases{
  height: 420px;
  background: url('//img20.360buyimg.com/wympay/jfs/t3235/144/3900782460/44511/95241bf9/57f9ee3fN138ac5c4.jpg') no-repeat center center;
  h2{
    padding-top: 70px;
    font-size: 32px;
    color: #fff;
  }
  p{
    color: #999;
  }
  .case-list{
    margin-top: 45px;
    .case-item{
      width: 100px;
      display: inline-block;

      margin:0 48px;
      p{
        color: #fff;
        margin-top: 18px;
      }
    }
  }
}
.apply-process{
  background: #fff;
  padding: 70px 0;
  font-size: 18px;
  h2{
    font-size: 32px;
    color: #222;
  }
  .sub-intro{
    color: #999;
    padding-bottom: 25px;
  }
}
.detail-dev-doc{
  background: #f5f5f5;
  padding: 68px 0;
  font-size: 18px;
  h2{
    color:#222;
    font-size: 32px;

  }
  p{
    color: #999;
  }
  a{
    color: #2588e4;
    text-decoration: underline;
    padding-top:30px;
    display: inline-block;
  }
}
