// 定义样式全局变量

$fontSize: 14px;

$themeColor: #179BD7;
$backgroundColor: #181818;

$radius: 5px;

$textColor: #333;
$avtiveColor: #687482;


$white: #fff;
$gray: #999;
$wgray: #363636;
$cgray: #eee;
$lgray: #f2f2f2;
$red: #f15353;