 <header class="header" style="padding-top: 30px;">
    <script src='http://static.jdpay.com/basic/dist/js/m-public/??jquery1.7.2.js'></script>
    <iframe src="//ft.jdpay.com/account/statusbar/" style="position:absolute; top: 0; left: 0; right: 0; background-color:transparent; margin: 0; padding: 0" width="100%" height="30px" frameborder="no">
    </iframe>
<script>
    var doc=document;  
    var link=doc.createElement("link");  
    link.setAttribute("rel", "icon");  
    link.setAttribute("type", "image/x-icon");  
    link.setAttribute("href", "http://ft.jd.com//html/favicon.ico");  
    var heads = doc.getElementsByTagName("head");  
    if(heads.length)  
        heads[0].appendChild(link);  
    else  
        doc.documentElement.appendChild(link);  
</script>

    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="//img14.360buyimg.com/wympay/jfs/t3748/300/108123672/4451/c42d7358/57ff5e34N6e63c570.png" alt="京东金融企业服务平台">
            </a>
        </div>
        <nav class="nav">
            <ul>
                <li class="{{underline-homepage}}">
                    <a href="/portal/index.htm">首页</a>
                </li>
                <li class="product-intro {{underline-intro}}">
                    <a href="/portal/product-intro.htm">产品介绍</a>
                </li>
                <li class="dropdown {{underline-sol}}">
                    <a href="javascript:;">解决方案</a>
                    <div class="sub-nav">
                        <ul class="container">
                            <li>
                                <a data-icon="" href="/portal/finance-solution.htm">金融</a>
                            </li>
                            <li>
                                <a data-icon="" href="/portal/education-solution.htm">教育</a>
                            </li>
                            <li>
                                <a data-icon="" href="/portal/hr-solution.htm">HR服务平台</a>
                            </li>
                            <li>
                                <a data-icon="" href="/portal/food-solution.htm">餐饮商超</a>
                            </li>
                            <li>
                                <a data-icon="" href="/portal/fastgoods-solution.htm">快消品</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a id="abs" href="//ft.jdpay.com/account/auth?redirect=https%3A%2F%2Fft.jd.com%2Fabssp%2Fplan">ABS投资人平台</a>
                </li>
            </ul>
        </nav>
    </div>
</header><input type='hidden' value='1493187942764' id='uniqueStamp' />