<link rel="stylesheet" href="/portal/css/detail.css">
 <header class="header" style="padding-top: 30px;">
    <script src='http://static.jdpay.com/basic/dist/js/m-public/??jquery1.7.2.js'></script>
    <iframe src="//ft.jdpay.com/account/statusbar/" style="position:absolute; top: 0; left: 0; right: 0; background-color:transparent; margin: 0; padding: 0" width="100%" height="30px" frameborder="no">
    </iframe>
<script>
    var doc=document;  
    var link=doc.createElement("link");  
    link.setAttribute("rel", "icon");  
    link.setAttribute("type", "image/x-icon");  
    link.setAttribute("href", "http://ft.jd.com//html/favicon.ico");  
    var heads = doc.getElementsByTagName("head");  
    if(heads.length)  
        heads[0].appendChild(link);  
    else  
        doc.documentElement.appendChild(link);  
</script>

    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="//img14.360buyimg.com/wympay/jfs/t3748/300/108123672/4451/c42d7358/57ff5e34N6e63c570.png" alt="京东金融企业服务平台">
            </a>
        </div>
        <nav class="nav">
            <ul>
                <li class="{{underline-homepage}}">
                    <a href="/portal/index.htm">首页</a>
                </li>
                <li class="product-intro {{underline-intro}}">
                    <a href="/portal/product-intro.htm">产品介绍</a>
                </li>
                <li class="dropdown {{underline-sol}}">
                    <a href="javascript:;">解决方案</a>
                    <div class="sub-nav">
                        <ul class="container">
                            <li>
                                <a data-icon="" href="/portal/finance-solution.htm">金融</a>
                            </li>
                            <li>
                                <a data-icon="" href="/portal/education-solution.htm">教育</a>
                            </li>
                            <li>
                                <a data-icon="" href="/portal/hr-solution.htm">HR服务平台</a>
                            </li>
                            <li>
                                <a data-icon="" href="/portal/food-solution.htm">餐饮商超</a>
                            </li>
                            <li>
                                <a data-icon="" href="/portal/fastgoods-solution.htm">快消品</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a id="abs" href="//ft.jdpay.com/account/auth?redirect=https%3A%2F%2Fft.jd.com%2Fabssp%2Fplan">ABS投资人平台</a>
                </li>
            </ul>
        </nav>
    </div>
</header><input type='hidden' value='1493187942764' id='uniqueStamp' /> 
<div class="detail-header" style="background: url(&quot;//img13.360buyimg.com/wympay/jfs/t3559/329/116343786/47253/1a89d419/57ff79d6N24575b5d.jpg&quot;);">
    <div class="content-1200 text-center">
        <h1></h1>
        <p class="sub_desc"></p>
        <p class="stars">
            推荐指数：
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
            <i class="icon-star active"></i>
        </p>
        <a href="javascript:;" class="open-btn">立即申请</a>
    </div>
</div>
<div class="detail-intro text-center">
    <h2>简介</h2>
    <p class="sub-intro">Introduction</p>
    <div class="intro"><p></p></div>
    <div class="intro_imgs content-1200"><img src="" alt=""></div>
</div>
<div class="detail-adv text-center">
    <h2>产品优势</h2>
    <p class="sub-intro">Product Advantages</p>

    <div class="content-1200">
        <div class="adv-imgs"><div class="adv-item" style="background-image: url(//img14.360buyimg.com/wympay/jfs/t3697/207/299035435/181160/f286a40b/5805cc84Nbe131d6e.png)"><h2></h2><p></p></div><div class="adv-item" style="background-image: url(//img30.360buyimg.com/wympay/jfs/t3442/38/301980554/173888/945c2f42/5805cc3dNc35df317.png)"><h2></h2><p></p></div></div>
    </div>
</div>
<div class="detail-cases text-center hidden">
    <div class="content-1200">
        <h2>客户案例</h2>
        <p>Customer Cases</p>

        <div class="case-list">
            <div class="case-item">
                <img src="//img10.360buyimg.com/wympay/jfs/t3124/2/3884250934/5788/24fd0f34/57f9ee8bN75c024da.png" alt="">
                <p>蜜源</p>
            </div>
            <div class="case-item">
                <img src="//img10.360buyimg.com/wympay/jfs/t3124/2/3884250934/5788/24fd0f34/57f9ee8bN75c024da.png" alt="">
                <p>蜜源</p>
            </div>
            <div class="case-item">
                <img src="//img10.360buyimg.com/wympay/jfs/t3124/2/3884250934/5788/24fd0f34/57f9ee8bN75c024da.png" alt="">
                <p>蜜源</p>
            </div>
        </div>
    </div>
</div>
<div class="apply-process text-center">
    <h2>申请流程</h2>
    <p class="sub-intro">Application Process</p>

    <div class="pro-imgs content-1200"><img src="//img20.360buyimg.com/wympay/jfs/t3340/365/298642258/6185/eb278f5a/58059d14Nb964dcdb.jpg" alt=""></div>
</div>
<div class="detail-dev-doc text-center hidden">
    <div class="content-1200">
        <h2>
            开发文档
        </h2>
        <p>Development Document</p>
        <a href="javascript:;">查看开发文档</a>

    </div>
</div>
<div class="counsel">
    <div class="counsel-cover hide"></div>
    <div id="counsel-container" class="counsel-container hide" style="position: absolute; top: 101px; left: 374px;">
        <div class="counsel-form-con">
            <h1>咨询合作</h1>
            <a href="javascript:;" class="closebt">
                <img src="/portal/img/counsel-close.png">
            </a>
            <div class="counsel-content">
                <ul class="reg-bd">
                    <li>
                        <label for="company_name">公司</label>
                        <div class="ui-input">
                            <input autocomplete="off" type="text" class="i-text" id="company_name">
                        </div>
                    </li>
                    <li>
                        <label for="user_name">姓名</label>
                        <div class="ui-input">
                            <input autocomplete="off" type="text" class="i-text" id="user_name">
                        </div>
                    </li>
                    <li>
                        <label for="phone_number">手机号</label>
                        <div class="ui-input">
                            <input autocomplete="off" type="text" class="i-text" id="phone_number">
                        </div>
                    </li>
                    <li>
                        <label for="sms_code">短信验证码</label>
                        <div class="ui-input">
                            <input type="text" class="i-text" id="sms_code">
                        </div>
                        <span class="span-vercode">获取验证码</span>
                    </li>
                    <li class="error-code-li">
                        <p class="error-code"></p>
                    </li>
                </ul>
                <textarea placeholder="问题描述" name="name" rows="5" cols="36" id="problem_description"></textarea>
                <p class="error"></p>
                <button id="submit">提 交</button>
            </div>
        </div>
        <div class="counsel-success hide">
            <div class="counsel-success-in">
                <a href="javascript:;" class="closebt closebt-success">
                    <img src="/portal/img/counsel-close.png">
                </a>
                <img src="/portal/img/counsel-ok.png" alt="">
                <h1>提交成功</h1>
                <h2>专业售前人员会在1个工作日内与您联系，祝您工作顺利！</h2>
            </div>
        </div>
        <div class="counsel-loading hide">
            <div class="counsel-loading-in">
                <h2>正在提交，请稍后...</h2>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="return-container">
        <a href="javascript:;" class="consultation"></a>
        <a href="javascript:;" class="returntop"></a>
    </div>
</section>

<footer>
    <div class="footer-hd" style="background: url('//img12.360buyimg.com/wympay/jfs/t3085/276/4096237471/15786/f2070898/57ff5d8eNb164bdfa.jpg') center no-repeat"></div>
    <div class="footer">
        <div class="container">
            <p class="links">
                <a href="http://www.jd.com" target="_blank">京东商城</a>｜
                <a href="http://jr.jd.com" target="_blank">京东金融</a>｜
                <a href="http://www.jcloud.com" target="_blank">京东云</a>｜
                <a href="http://smart.jd.com" target="_blank">京东智能</a>｜
                <a href="http://jzt.jd.com/gw/" target="_blank">京准通</a>｜
                <a href="http://wxlink.jd.com" target="_blank">京东万象</a>｜
                <a href="/html/about" target="_blank">关于我们</a>
            </p>
            <p class="copyright">Copyright © 2004-2016 京东JD.com 版权所有</p>
        </div>
    </div>
    <script type="text/javascript" src="//tajs.qq.com/stats?sId=59053717" charset="UTF-8"></script>
    <script type="text/javascript" src="//pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500326688" cid="500332905" opts="{&quot;senseHash&quot;:false,&quot;autoReport&quot;:false,&quot;performanceMonitor&quot;:false}"></script>
</footer><input type='hidden' value='1493187942777' id='uniqueStamp' />
<!--<script src='/portal/js/detail.js'></script>-->
<script>
function check_submit(){function e(){var e=$("#problem_description").val().length;if(regCompanyName.test(t))if(regUserName.test(n))if(regMobile.test(o))if(regSmsCode.test(a))if(10>e)r.text("请尽量详细描述您的问题！");else{var s={companyName:t,userName:n,phoneNo:o,problemDesc:i,vCode:a};s=JSON.stringify(s),console.log("提交的数据：",s),verifiedSmsCode(JSON.stringify({phone:o,code:a}),postdata.bind(null,s))}else r.text("请输入手机验证码！");else r.text("手机号码格式不正确！");else r.text("请输入有效姓名，方便与您进一步沟通！");else r.text("请输入有效公司，方便与您进一步沟通！")}var t=$("#company_name").val(),n=$("#user_name").val(),o=$("#phone_number").val(),i=$("#problem_description").val(),a=$("#sms_code").val(),r=$(".error");""===t?r.text("请填写您的公司名称！"):""===n?r.text("请填写您的姓名！"):""===o?r.text("请填写您的手机号码！"):""===i?r.text("请填写您需咨询的问题！"):(""!=t||""==n||""!=o||""!=i)&&(r.text(""),e())}function defaultSet(){$("#company_name").val(""),$("#user_name").val(""),$("#phone_number").val(""),$("#problem_description").val(""),$(".error-code").text(""),$(".error").text(""),$("#sms_code").val(""),clearTimeout(loop),count=60,codebtn.removeClass("active").text("获取验证码")}function postdata(e){getDataInfo(e).done(function(e){return e=e.applyEmail,"00000"===e.code&&(setTimeout(function(){$(".counsel-loading").addClass("hide"),$(".counsel-success").removeClass("hide"),$(".closebt-success").click(function(){$(".counsel-form-con").removeClass("hide"),$(".counsel-success").addClass("hide")}),defaultSet()},1e3),MtaH5.clickStat("contactCommitSuccess")),!1}).fail(function(){defaultSet(),console.log("数据提交失败")})}var detailPage={config:{list:[],data:null},elements:{header:$(".detail-header"),applyBtn:$(".open-btn"),intro:$(".detail-intro"),adv:$(".detail-adv"),cases:$(".detail-cases"),process:$(".apply-process"),doc:$(".detail-dev-doc"),applyForm:$("#counsel-container")},init:function(){this.fetchData(),this.bindEvents()},bindEvents:function(){this.elements.applyForm;this.elements.applyBtn.on("click",function(){$(".consultation").trigger("click")})},fetchData:function(){var e=this;return $.ajax({type:"GET",url:"/portal/productList",dataType:"json",charset:"UTF-8"}).success(function(t){t=t.data,e.config.list="string"==typeof t?JSON.parse(t):t;var n=e.getId();e.config.data=e.findItemById(n),e.renderUI()}).error(function(e){})},findItemById:function(e){for(var t={},n=0,o=this.config.list.length;o>n;n++){var i=this.config.list[n];e==i.ID&&(t=i)}return t},getId:function(){return location.href.match(/product-detail-[0-9]+\.htm/)[0].match(/[0-9]+/g)[0]},renderUI:function(){this.renderHeader(),this.renderIntro(),this.renderCases(),this.renderProcess(),this.renderAdvantages(),this.renderDoc()},renderHeader:function(){var e=this.elements.header,t=this.config.data,n=t.stars;e.css({background:'url("'+t.header_banner+'")'}),e.find("h1").text(t.title),e.find(".sub_desc").text(t.sub_desc),e.find(".icon-star:lt("+n+")").addClass("active")},renderIntro:function(){var e=this.elements.intro,t=this.config.data;e.find(".intro").html("<p>"+t.introduction.split(/={3,}/).join("</p><p>")+"</p>");var n="";t.intro_imgs.length&&$.each(t.intro_imgs.split(/={3,}/),function(e,t){n+='<img src="'+t+'" alt=""/>'}),e.find(".intro_imgs").html(n)},renderAdvantages:function(){var e=this.elements.adv,t=this.config.data,n=t.adv_imgs.split(/={3,}/),o=t.adv_descs.split(/={3,}/),i="";$.each(t.adv_titles.split(/={3,}/),function(e,t){var a=Math.random()*n.length|0,r=n.splice(a,1);i+='<div class="adv-item" style="background-image: url('+r+')"><h2>'+t+"</h2>"+(void 0!=o[e]?"<p>"+o[e]+"</p>":"")+"</div>"}),e.find(".adv-imgs").html(i)},renderCases:function(){var e=this.elements.cases,t=this.config.data,n="",o=t.case_icons.split(/={3,}/),i=t.case_icons_text.split(/={3,}/);$.each(o,function(e,t){n+='<div class="case-item"><img src="'+t+'" alt=""><p>'+i[e]+"</p></div>"}),$.trim(t.case_icons).length&&(e.removeClass("hidden"),e.find(".case-list").html(n),e.css({"background-image":"url("+t.case_bg+")"}))},renderProcess:function(){var e=this.elements.process,t=this.config.data,n="";$.each(t.apply_process.split(/={3,}/),function(e,t){n+='<img src="'+t+'" alt=""/>'}),t.apply_process&&t.apply_process.length&&(e.removeClass("hidden"),e.find(".pro-imgs").html(n))},renderDoc:function(){var e=this.elements.doc,t=this.config.data,n=t.dev_doc.split(/={3,}/);t.dev_doc&&t.dev_doc.length&&(e.removeClass("hidden"),e.find("a").text(n[0]).attr("href",n[1]))}};detailPage.init();var regCompanyName=/^[\u4E00-\u9FA5A-Za-z0-9_]+$/,regUserName=/^[\u4E00-\u9FA5A-Za-z_]+$/,regMobile=/^((\+?[0-9]{1,4})|(\(\+86\)))?(13[0-9]|14[57]|15[012356789]|17[0678]|18[0-9])\d{8}$/,regSmsCode=/^\S+$/,getSmsCode=function(e){return $.ajax({type:"POST",url:"/extend/getSmsCode",dataType:"json",contentType:"application/json",charset:"UTF-8",async:!0,data:e,timeout:6e3,beforeSend:function(){}})},verifiedSmsCode=function(e,t){return $.ajax({type:"POST",url:"/extend/verifiedSmsCode",dataType:"json",contentType:"application/json",charset:"UTF-8",async:!0,data:e,timeout:6e3,beforeSend:function(){}}).done(function(e){"00000"===e.code?t():$(".error-code").text(e.msg).removeClass("correct").addClass("wrong")}).fail(function(){$(".counsel-loading").addClass("hide")})},count=60,loop,codebtn=$(".span-vercode"),timerSmsCode=function(){if(codebtn.removeClass("active").text(--count+"s后重新获取"),0===count){clearTimeout(loop),count=60;var e=$("#phone_number").val();regMobile.test(e)&&codebtn.addClass("active"),codebtn.text("重新获取")}else loop=setTimeout(timerSmsCode,1e3)},getDataInfo=function(e){return $.ajax({type:"POST",url:"/extend/applyEmail",dataType:"json",contentType:"application/json",charset:"UTF-8",async:!0,data:e,timeout:6e3,beforeSend:function(){$(".counsel-form-con").addClass("hide"),$(".counsel-loading").removeClass("hide")}})};$(document).ready(function(){$("#submit").click(function(){return check_submit(),!1}),$(".ui-input input").on("focus",function(e){$(this).parent().addClass("focus")}).on("blur",function(e){$(this).parent().removeClass("focus")}),$("#problem_description").on("focus",function(e){$(this).addClass("focus")}).on("blur",function(e){$(this).removeClass("focus")}),$("#phone_number").on("change",function(e){var t="手机号码格式不正确！";if(regMobile.test(this.value)){if(60>count)return;$(".span-vercode").addClass("active"),$(".error").text()===t&&$(".error").text("")}else $(".span-vercode").removeClass("active"),60===count&&$(".error").text(t)}),$(".span-vercode").on("click",function(e){var t=$("#phone_number").val();$(".error");regMobile.test(t)&&60===count&&(timerSmsCode(),getSmsCode(JSON.stringify({receiver:t,type:1})).done(function(e){"00000"===e.code&&$(".error-code").text("验证码已发送到您的手机，10分钟内有效").removeClass("wrong").addClass("correct")}).fail(function(){$(".error-code").text("验证码发送失败，请稍后再试").removeClass("correct").addClass("wrong")}))})}),function e(t,e,n,o){$(document).ready(function(){$(t).center()}),$(document.body).on("click",o,function(n){n.preventDefault(),$(window).trigger("counselInit"),$(e).show(),$(t).fadeIn(),defaultSet(),MtaH5.clickStat("contact")}),$(document.body).on("click",n,function(){defaultSet(),$(t).hide(),$(e).fadeOut()}),jQuery.fn.center=function(e){var t=this;body_width=parseInt($(window).width()),body_height=parseInt($(window).height()),block_width=parseInt(t.width()),block_height=parseInt(t.height()),left_position=parseInt(body_width/2-block_width/2+$(window).scrollLeft()),body_width<block_width&&(left_position=0+$(window).scrollLeft()),top_position=parseInt(body_height/2-block_height/2+$(window).scrollTop()),body_height<block_height&&(top_position=0+$(window).scrollTop()),e?(t.stop(),t.css({position:"absolute"}),t.animate({top:top_position,left:left_position},100,"linear")):(t.css({position:"absolute"}),t.css({top:.5*($(window).height()-$(o).height()),left:left_position}),$(window).bind("resize",function(){t.center(!e)}),$(window).bind("scroll",function(){t.center(!e)}),$(window).bind("counselInit",function(){t.center(!e)}))}}(".counsel-container",".counsel-cover",".closebt",".consultation"),$(window).scroll(function(){var e=$(this).scrollTop();e>=390?$(".header").addClass("fixed"):$(".header").removeClass("fixed")});var returntop=$(".returntop");returntop&&returntop.on("click",function(e){return e.preventDefault(),$("body,html").animate({scrollTop:0},1e3),!1}),$(function(){var e=function(){this.expireMinutes=30};e.prototype={constructor:e,init:function(){var e=this.getUrlParam("auth"),t=this.getUrlParam("loginName");if(""!==e&&""!==t){var n=new Date,o=this.expireMinutes;n.setTime(n.getTime()+60*o*1e3),document.cookie="auth="+e+";path=/;expires="+n.toGMTString(),document.cookie="loginName="+t+";path=/;expires="+n.toGMTString(),location.href=location.href.split("?")[0]}this.attachEvent(),this.addActiveMark()},attachEvent:function(){$(document.body).on("click","#login",function(e){return e&&e.preventDefault?(e.preventDefault(),MtaH5.clickStat("loginBtnClick"),void(location.href=$(this).attr("href")+"?redirect="+encodeURIComponent(location.href))):(window.event.returnValue=!1,!1)}),$(document.body).on("click","#register",function(e){MtaH5.clickStat("regBtnClick"),location.href=$(this).attr("href")+"?redirect="+encodeURIComponent(location.href)+"&action=register"}),$(document.body).on("click","#abs",function(e){MtaH5.clickStat("absBtnClick")}),$(document.body).on("click","#logout",function(e){return e&&e.preventDefault?(e.preventDefault(),MtaH5.clickStat("logoutBtnClick"),void $.ajax({type:"POST",dataType:"json",contentType:"application/json",url:"/extend/logout",data:{},success:function(e){if(e=e.logout,"0"==e.resultCode){var t=new Date;t.setTime(t.getTime()-1e4),document.cookie="auth= ;path=/;expires="+t.toGMTString(),document.cookie="loginName= ;path=/;expires="+t.toGMTString(),window.location.reload()}}})):(window.event.returnValue=!1,!1)})},addActiveMark:function(){$(".nav>ul>li>a").each(function(){var e=$(this).attr("href");location.href.indexOf(e)>-1&&$(this).parent("li").addClass("active"),location.href.indexOf("solution")>-1&&$(".dropdown").addClass("active"),location.href.indexOf("detail")>-1&&$(".product-intro").addClass("active")})},getUrlParam:function(e){var t="",n=!1;if(0==document.location.search.indexOf("?")&&document.location.search.indexOf("=")>1)for(arrSource=unescape(document.location.search).substring(1,document.location.search.length).split("&"),i=0;i<arrSource.length&&!n;)arrSource[i].indexOf("=")>0&&arrSource[i].split("=")[0].toLowerCase()==e.toLowerCase()&&(t=arrSource[i].split("=")[1],n=!0),i++;return t}};var t=new e;t.init()});
</script>